<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Job Scrapper</title>
  <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css">
</head>
<body>
  <main class="container">
    <h2> Find your Job</h2>
      <form action="/search">
      <label for="search">Search Jobs</label>
      <input type="text" name="keyword" placeholder="Write keyword please" required>
    
      <!-- Button -->
      <button type="submit">Search</button>
    
      </form>
  </main>  
</body>
</html>